<h3 class="d-inline-block">Plan Your Wedding</h3>
<partial Name="~/Views/Account/LogoutBtnPartial.cshtml"/>
<partial Name="DashBtnPartial"/>
<hr>
<div class="card">
    <div class="card-body">
        <partial Name="WeddingFormPartial" />
    </div>
</div>