@model WeddingPlanner.Models.ViewModels.WeddingVM
<form asp-action="Create" asp-controller="Wedding">
    <label asp-for="Bride">Bride:</label>
    <input asp-for="Bride" class="float-right">
    <br>
    <span asp-validation-for="Bride" style="color: red;"></span>
    <br>
    <label asp-for="Groom">Groom:</label>
    <input asp-for="Groom" class="float-right">
    <br>
    <span asp-validation-for="Groom" style="color: red;"></span>
    <br>
    <label asp-for="Date">Date:</label>
    <input asp-for="Date" class="float-right">
    <br>
    <span asp-validation-for="Date" style="color: red;"></span>
    <br>
    <label asp-for="Location">Address:</label>
    <input asp-for="Location" class="float-right">
    <br>
    <span asp-validation-for="Location" style="color: red;"></span>
    <br>
    <button type="submit" class="btn btn-primary float-right">Create</button>
</form>