@{
    ViewData["Title"] = "Welcome, ";
}
<div class="d-flex justify-content-center">
    <partial Name="~/Views/Account/RegFormPartial.cshtml"/>
    <partial Name="~/Views/Account/LogFormPartial.cshtml"/>
</div>
